CompileFlags:
  Add: [-Wunused-parameter]
  CompilationDatabase: /home/dinkleberg/o3de-projects/Dinkleberg/build/linux

Diagnostics:
  ClangTidy:
    Remove: [
      cppcoreguidelines-owning-memory,
      cppcoreguidelines-pro-type-static-cast-downcast,
      cppcoreguidelines-pro-type-vararg,
      cppcoreguidelines-pro-type-reinterpret-cast
      ]
